
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 
 
h1,h2,h3,h4{
    
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: italic;

}

@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('Truetype');
}
body{
    font-family:'Raleway', sans-serif;
}
h1{
   margin-top: auto;
}
h3{
    margin-left: 15px;
   font-size: 1.2rem;
}
h4{
    font-size: 1.3rem;
    margin-left: 15px;
}
h5{
    font-size: 1.1rem;
}
img{
    
    border-radius: 50%;
    width: 120px;
    margin-top: 40px;
    box-shadow: -1px 2px 40px rgb(0, 0, 0);
    
    
    
}
img:hover{
    cursor: zoom-in;
    
    
}
.zoom {
    height:200px;
    }

    .zoom img:hover {
    width:200px;
    height:200px;
    }
.page{
    background-color:#782221  ;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(196, 196, 196),-30px 0px 40px rgb(196, 196, 196);
    max-width: 1160px;
    border:solid #782221;
    ;
    
}
.section1{
    text-align: center;  
    color: white; 
    Text-decoration: none;
}

p{
    text-align: justify;
    width: 85%;
}
ul{
    margin-left: -25px;
}
.header{
box-sizing: border-box;
background-color: #2c1d27;
padding:5px ;
text-align: left;

}
a{
  text-decoration: none;
    color: white;
    transition: color 0.3s ease, 

 }
 h3:hover{
    text-decoration: underline;
    
}

.list{
    list-style: none; 
  margin: auto;
  padding: auto;
  display: flex;
  background-color: #2c1d27;

}
.list li{
    display: inline-flex;
    justify-content: space-between;
}    

.mailto{
    margin-left: 180px; 
    
}
.phone{
    margin-left: 220px;
}
.container{
    display: flex;
}
.container-left{
    flex: 1;
    text-align: left;
    padding-left: 15px;
    color: rgb(255, 255, 255);
}
.deco{
    box-sizing: border-box;
    margin-left: -15px;
    width: 330px;
    background-color: #dbc2a4;
    color: black;
}
.container-right{
    background-color: white;
    flex: 2;
    text-align: left;
    padding-left: 15px;
    color: black;
}
.decoo{
    box-sizing: border-box;
    width: 650px;
    background-color: #dbc2a4;
    color: black;
    margin-left: 10px;
}
.decoo::before{
    content:"";
    width: 5px;
    height:25px;
    background: #782221;
    display: block;
    float: left;
    
}



#logo:hover{
    opacity: 0.6;
    
}
.logo{
    display: flex;
    margin-left: 44%;
    
}
    
    

#linkedin a:hover{
    opacity: 0.6;
}
#twitter a:hover{
    opacity: 0.6;
}
#github a:hover{
    opacity: 0.6;
}

.dernier{
    margin-top: -10px;
    text-align: left;
    margin-left: 33%;

}
